@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}


.gameContainer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color: rgb(145, 78, 240);
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin:auto;
    color: rgb(145, 78, 240);
}

#game-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#game-control {
    display: flex;
    justify-content: center;
    text-align: center;
}

#game-control #x-player {
    background-color:rgb(145, 78, 240) ;
    border: 5px solid rgb(145, 78, 240);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}
#x-player:hover {
    transform: scale(1.1);
}
#game-control #o-player {
    background-color:rgb(145, 78, 240) ;
    border: 5px solid rgb(145, 78, 240);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
}
#o-player:hover {
    transform: scale(1.1);
}

#game-status {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#restartBtn:hover {
    transform: scale(1.1);
}

#restart {
    margin-top: 20px;
    text-align: center;
}

#restartBtn {
    padding: 10px;
    background-color:rgb(145, 78, 240) ;
    border: 2px solid rgb(145, 78, 240) ;
    border-radius: 20px;
}

#history {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
}

#prevBtn:hover {
    transform: scale(1.1);
}

#history #nextBtn {
    margin-left: 20px;
    padding: 10px;
    background-color:rgb(145, 78, 240) ;
    border: 2px solid rgb(145, 78, 240) ;
    border-radius: 20px;
    cursor: pointer;
}

#history #prevBtn {
    padding: 10px;
    background-color:rgb(145, 78, 240) ;
    border: 2px solid rgb(145, 78, 240) ;
    border-radius: 20px;
}

#nextBtn:hover {
    transform: scale(1.1);
}


